@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

button {
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.up {
  padding: 8px 0;
  background: #939878;
  .up-content {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 40%;
    p {
      color: #fff;
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
    }
  }
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: 27px 0;
  background-color: #fff;
  z-index: 100;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    .logo {
      svg {
        fill: #063255;
      }
    }
    .nav_items {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 50px;
      .nav-items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;
        form {
          select {
            outline: none;
            border: none;
            background-color: transparent;
            font-size: 15px;
            gap: 0px;
          }
        }
        .item-link {
          color: #2a2c1f;
          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 150% */
          transition: 0.5s;
          position: relative;
        }
        .nav-link-svg {
          display: flex;
          align-items: center;
          gap: 4px;
        }
        .item-link::before {
          content: "";
          position: absolute;
          width: 0;
          height: 3px;
          background: #344149;
          transition: 0.5s;
          bottom: -8px;
        }
        .item-link:hover {
          color: #394149;
          &::before {
            width: 100%;
          }
          // background-color: transparent;
          // box-shadow: 3px 3px 5px rgba(255, 210, 173, 0.5);
        }
        .clone {
          display: flex;
          align-items: center;
          gap: 4px;
          padding: 9px 21px;
          border-radius: 6px;
          border: 1px solid #e7e8e3;
          background: #fff;
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
          transition: 0.5s;
          &:hover {
            background-color: #cf6f49;
            p {
              color: #fff;
            }
          }
          p {
            color: #2a2c1f;
            text-align: center;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
          }
        }
      }
      .nav-btn {
        display: flex;
        align-items: center;
        gap: 24px;
        #dark-light {
          background-color: transparent;
          cursor: pointer;
          border-radius: 44px;
          overflow: hidden;
          border: 0;
          .l {
            display: block;
            margin-bottom: 1.5em;
            font-size: 1em;
            cursor: pointer;
          }

          .l {
            background-color: rgba(0, 0, 0, 0.7);
            border-radius: 0.75em;
            box-shadow: 0.125em 0.125em 0 0.125em rgba(0, 0, 0, 0.3) inset;
            color: #fdea7b;
            display: inline-flex;
            align-items: center;
            margin: auto;
            padding: 0.15em;
            width: 3em;
            height: 1.5em;
            transition: background-color 0.1s 0.3s ease-out,
              box-shadow 0.1s 0.3s ease-out;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
          }

          .l:before,
          .l:after {
            content: "";
            display: block;
          }

          .l:before {
            background-color: #d7d7d7;
            border-radius: 50%;
            width: 1.2em;
            height: 1.2em;
            transition: background-color 0.1s 0.3s ease-out,
              transform 0.3s ease-out;
            z-index: 1;
          }

          .l:after {
            background: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.15) 0)
                0 50% / 50% 100%,
              repeating-linear-gradient(
                  90deg,
                  #bbb 0,
                  #bbb,
                  #bbb 20%,
                  #999 20%,
                  #999 40%
                )
                0 50% / 50% 100%,
              radial-gradient(circle at 50% 50%, #888 25%, transparent 26%);
            background-repeat: no-repeat;
            border: 0.25em solid transparent;
            border-left: 0.4em solid #d8d8d8;
            border-right: 0 solid transparent;
            transition: border-left-color 0.1s 0.3s ease-out,
              transform 0.3s ease-out;
            transform: translateX(-22.5%);
            transform-origin: 25% 50%;
            width: 1.2em;
            height: 1em;
            box-sizing: border-box;
          }
          /* Checked */
          .l:checked {
            background-color: rgba(0, 0, 0, 0.45);
            box-shadow: 0.125em 0.125em 0 0.125em rgba(0, 0, 0, 0.1) inset;
          }

          .l:checked:before {
            background-color: currentColor;
            transform: translateX(125%);
          }

          .l:checked:after {
            border-left-color: currentColor;
            transform: translateX(-2.5%) rotateY(180deg);
          }
          /* Other States */
          .l:focus {
            /* Usually an anti-A11Y practice but set to remove an annoyance just for this demo */
            outline: 0;
          }
        }
        .burger_menu {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 999px) {
  header {
    nav {
      .nav_items {
        .nav-items {
          position: absolute;
          top: 100%;
          right: 0;
          width: 65vw;
          background-color: #ebf9f9;
          backdrop-filter: blur(10px);
          flex-direction: column;
          padding: 50px;
          align-items: flex-start;
          transform: translateX(100%);
          transition: all 0.5s ease-in-out;
          a {
            font-size: 20px;
            &::before {
              top: -10px;
            }
          }
        }
        .nav-btn {
          .burger_menu {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            width: 28px;
            height: 24px;
            transition: all 0.5s ease-in-out;
            span {
              width: 100%;
              height: 3px;
              background-color: #000;
              opacity: 0.9;
              transition: all 0.5s ease-in-out;
              border-radius: 8px;
            }
          }
        }
      }
    }
  }
  .open_menu {
    header {
      nav {
        .nav_items {
          .nav-items {
            transform: translateX(0);
          }
          .nav-btn {
            .burger_menu {
              transform: rotate(360deg);
              &_top {
                position: absolute;
                transform: rotate(135deg);
              }
              &_center {
                position: absolute;
                transform: rotate(-135deg);
              }
              &_bottom {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 576px) {
  header {
    nav {
      .nav_items {
        .nav-items {
          align-items: center;
          width: 100vw;
        }
      }
    }
  }
}

// header {
//   background-color: #fff;
//   //   background-color: plum;
//   position: sticky;
//   top: 0;
//   left: 0;
//   right: 0;
//   z-index: 100;
//   box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
//     rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
//   nav {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     align-items: center;
//     padding: 20px 0;
//     .logo-nav {
//       display: flex;
//       gap: 12px;
//       /* The switch - the box around the slider */
//       .switch {
//         display: block;
//         --width-of-switch: 3.5em;
//         --height-of-switch: 2em;
//         /* size of sliding icon -- sun and moon */
//         --size-of-icon: 1.4em;
//         /* it is like a inline-padding of switch */
//         --slider-offset: 0.3em;
//         position: relative;
//         width: var(--width-of-switch);
//         height: var(--height-of-switch);
//       }

//       /* Hide default HTML checkbox */
//       .switch input {
//         opacity: 0;
//         width: 0;
//         height: 0;
//       }

//       /* The slider */
//       .slider {
//         position: absolute;
//         cursor: pointer;
//         top: 0;
//         left: 0;
//         right: 0;
//         bottom: 0;
//         background-color: #f4f4f5;
//         transition: 0.4s;
//         border-radius: 30px;
//       }

//       .slider:before {
//         position: absolute;
//         content: "";
//         height: var(--size-of-icon, 1.4em);
//         width: var(--size-of-icon, 1.4em);
//         border-radius: 20px;
//         left: var(--slider-offset, 0.3em);
//         top: 50%;
//         transform: translateY(-50%);
//         background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
//         transition: 0.4s;
//       }

//       input:checked + .slider {
//         background-color: #303136;
//       }

//       input:checked + .slider:before {
//         left: calc(
//           100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em))
//         );
//         background: #303136;
//         /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
//         box-shadow: inset -3px -2px 5px -2px #8983f7,
//           inset -10px -4px 0 0 #a3dafb;
//       }
//     }
//     .nav_items {
//       display: flex;
//       align-items: center;
//       gap: 20px;
//       .nav-item {
//         display: flex;
//         align-items: center;
//         gap: 4px;
//         cursor: pointer;
//         &:hover {
//           color: #cf6f49;
//           transition: 0.3s;
//           svg path {
//             fill: #cf6f49;
//             transition: 0.3s;
//           }
//         }
//         .btn-1 {
//           background-color: transparent;
//           display: flex;
//           align-items: center;
//           gap: 4px;
//           padding: 6px 21px 9px 21px;
//           border-radius: 6px;
//           border: 1px solid #e7e8e3;
//           box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
//           &:hover {
//             background-color: #cf6f49;
//             transition: 0.5s;
//             p {
//               color: #fff;
//             }
//           }
//           p {
//             color: #2a2c1f;
//             text-align: center;
//             font-family: Roboto;
//             font-size: 16px;
//             font-style: normal;
//             font-weight: 400;
//             line-height: 24px; /* 150% */
//           }
//         }
//         .btn-2 {
//           color: #cf6f49;
//           font-family: Poppins;
//           font-size: 16px;
//           font-style: normal;
//           font-weight: 600;
//           line-height: 106.5%; /* 17.04px */
//           text-transform: capitalize;
//           border-radius: 27px;
//           background: transparent;
//           padding: 11px 21px;
//           border-radius: 6px;
//           border: 2px solid #cf6f49;
//           background: transparent;
//           cursor: pointer;
//           position: relative;
//           overflow: hidden;
//           a {
//             text-decoration: none;
//             color: #5b5b5b;
//           }
//           span {
//             height: 100%;
//             width: 0;
//             background-color: #cf6f49;
//             border-radius: 3px;
//             position: absolute;
//             left: 0;
//             bottom: 0;
//             z-index: -1;
//             transition: 0.5s;
//           }
//           &:hover {
//             border: 2px solid transparent;
//             color: #fff;
//             span {
//               width: 100%;
//               //   visibility: visible;
//             }
//           }
//         }
//         select {
//           outline: none;
//           border: none;
//           background-color: transparent;
//           font-size: 15px;
//           gap: 0px;
//         }
//       }
//     }
//     .menu {
//       background-color: transparent;
//       border: 0;
//       display: none;
//     }
//   }
// }

// @media only screen and (max-width: 1000px) {
//   header {
//     nav {
//       .menu {
//         display: block;
//       }
//     }
//   }
//   .nav_items {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;
//     gap: 25px;
//     position: fixed;
//     top: 86px;
//     right: -100%;
//     width: 100%;
//     height: calc(80vh - 70px);
//     background: #fff;
//     opacity: 0.95;
//     padding: 100px 0;
//     transition: all 0.3s ease-in-out;
//     z-index: 100;
//     .nav-items {
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       flex-direction: column;
//     }
//   }
// }

// .open {
//   @media only screen and (max-width: 1000px) {
//     .nav {
//       display: flex;
//       align-items: center;
//       justify-content: space-between;
//     }

//     .nav_items {
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       flex-direction: column;
//       gap: 25px;
//       position: static;
//       top: 86px;
//       right: 0%;
//       width: 100%;
//       height: calc(80vh - 50px);
//       background: #fff;
//       opacity: 0.95;
//       padding: 60px 0;
//       transition: all 0.3s ease-in-out;
//       z-index: 0;
//     }
//   }
// }

.hero {
  background-color: #f5f5f2;
  .hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 80px;
    flex-wrap: wrap;
    .hero-texts {
      max-width: 560px;
      padding-left: 80px;
      p {
        max-width: 182px;
        border-radius: 32px;
        background: #e7e8e3;
        padding: 4px 12px;
        margin-bottom: 20px;
      }
      h1 {
        color: #2a2c1f;
        font-family: Roboto;
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: 67.2px; /* 120% */
        margin-bottom: 20px;
      }
      h2 {
        color: #65665c;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px; /* 150% */
        padding-bottom: 21px;
      }
      .search_bar {
        display: flex;
        align-items: center;
        gap: 16px;
        .nav-input {
          display: flex;
          align-items: center;
          width: 310px;
          svg {
            position: absolute;
            padding: 12px 20px 12px 16px;
          }
          input {
            outline: none;
            border-radius: 6px;
            border: 1px solid #e7e8e3;
            background: #fff;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
            width: 100%;
            padding: 15px 30px 15px 40px;
          }
        }
        button {
          color: #fff;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 106.5%;
          text-transform: capitalize;
          border-radius: 27px;
          background: transparent;
          padding: 14px 18px;
          border-radius: 6px;
          border: 2px solid #cf6f49;
          background-color: #cf6f49;
          cursor: pointer;
          &:hover {
            background-color: transparent;
            color: #cf6f49;
            transition: 0.4s;
          }
        }
      }
    }
  }
}

.howit {
  padding-bottom: 128px;
  .howit_content {
    .half-hero {
      padding-top: 67px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        max-width: 243px;
        color: #2a2c1f;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px; /* 150% */
      }
      .logos {
        display: flex;
        align-items: center;
        gap: 30px;
        svg:hover path {
          fill: #94969e;
          transition: 0.2s;
        }
      }
    }
    .general {
      padding-top: 140px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      row-gap: 64px;
      .how_title {
        display: grid;
        place-items: center;
        flex-direction: column;
        row-gap: 21px;
        h1 {
          color: #2a2c1f;
          text-align: center;
          font-family: Roboto;
          font-size: 48px;
          font-style: normal;
          font-weight: 700;
          line-height: 57.6px; /* 120% */
        }
        p {
          max-width: 754px;
          color: #65665c;
          text-align: center;
          font-family: Roboto;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 27px; /* 150% */
        }
      }
      .cards {
        display: flex;
        justify-content: space-around;
        .card {
          border-radius: 16px;
          border: 1px solid #e7e8e3;
          background: transparent;
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
          &:hover {
            border-color: #cf6f49;
            transition: 0.4s;
          }
          .card-content {
            display: grid;
            place-items: center;
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            padding: 49px 33px 47px 33px;
            row-gap: 20px;
            box-icon {
              border-radius: 8px;
              background: #fae8e1;
              width: 60px;
              height: 60px;
              padding: 10px;
            }
            h2 {
              color: #2a2c1f;
              text-align: center;
              font-family: Roboto;
              font-size: 24px;
              font-style: normal;
              font-weight: 700;
              line-height: 33.6px; /* 140% */
            }
            p {
              max-width: 338px;
              color: #65665c;
              text-align: center;
              font-family: Roboto;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px; /* 150% */
            }
          }
        }
      }
    }
  }
}

.best {
  padding-bottom: 128px;
  .best-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    .best-texts {
      p {
        color: #2a2c1f;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        max-width: 105px;
        border-radius: 32px;
        background: #e7e8e3;
        padding: 4px 12px;
        margin-bottom: 20px;
      }
      h1 {
        max-width: 453px;
        color: #2a2c1f;
        font-family: Roboto;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 57.6px; /* 120% */
      }
      h5 {
        margin-top: 28px;
        max-width: 520px;
        color: #65665c;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px; /* 150% */
      }
      .best-btns {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 21px;
        button {
          display: flex;
          align-items: center;
          background-color: transparent;
          color: #2a2c1f;
          text-align: center;
          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 150% */
          border: 1px solid transparent;
          padding: 13px 25px;
          gap: 4px;
          &:hover {
            border-radius: 6px;
            border: 1px solid #e7e8e3;
            background: #fff;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
            transition: 0.2s;
          }
        }
      }
    }
  }
}

.fast {
  padding-bottom: 128px;
  .fast-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .fast-texts {
      p {
        color: #2a2c1f;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        max-width: 120px;
        border-radius: 32px;
        background: #e7e8e3;
        padding: 4px 12px;
        margin-bottom: 20px;
      }
      h1 {
        color: #2a2c1f;
        font-family: Roboto;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 57.6px; /* 120% */
      }
      h5 {
        max-width: 600px;
        color: #65665c;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px; /* 150% */
        padding: 30px 0;
      }
      .fast-cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .card {
          svg {
            padding: 8px;
            border-radius: 8px;
            background: #fae8e1;
          }
          h1 {
            color: #2a2c1f;
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px; /* 140% */
            padding: 16px 0;
          }
          h6 {
            max-width: 260px;
            color: #65665c;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
          }
        }
      }
      .best-btns {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 21px;
        button {
          display: flex;
          align-items: center;
          background-color: transparent;
          color: #2a2c1f;
          text-align: center;
          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 150% */
          border: 1px solid transparent;
          padding: 13px 25px;
          gap: 4px;
          &:hover {
            border-radius: 6px;
            border: 1px solid #e7e8e3;
            background: #fff;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
            transition: 0.2s;
          }
        }
      }
    }
  }
}

.area {
  background: #f5f5f2;
  // background-color: plum;
  .area-content {
    // display: grid;
    // place-items: center;
    padding-top: 128px;
    .area-title {
      display: grid;
      place-items: center;
      p {
        color: #2a2c1f;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        max-width: 95px;
        border-radius: 32px;
        background: #e7e8e3;
        padding: 4px 12px;
        margin-bottom: 20px;
      }
      h1 {
        color: #2a2c1f;
        text-align: center;
        font-family: Roboto;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 57.6px; /* 120% */
      }
    }
    .cards {
      padding-top: 80px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 30px;
      .card {
        overflow: hidden;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
          rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        &:hover {
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
            rgba(0, 0, 0, 0.22) 0px 15px 12px;
          transition: 0.5s;
        }
        .card-texts {
          padding: 24px;
          max-width: 357px;
          h2 {
            color: #2a2c1f;
            font-family: Roboto;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 33.6px; /* 140% */
          }
          h3 {
            color: #2a2c1f;
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 27px; /* 150% */
            padding: 2px 0px 16px 0px;
          }
          .location {
            display: flex;
            gap: 8px;
            align-items: center;
            padding-bottom: 16px;
            background-color: transparent;
            p {
              color: #65665c;
              font-family: Roboto;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px; /* 150% */
            }
          }
          .mayda {
            display: flex;
            align-items: center;
            gap: 24px;
            .suv {
              display: flex;
              align-items: center;
              gap: 8px;
              p {
                color: #65665c;
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 150% */
              }
            }
            .bed {
              display: flex;
              align-items: center;
              gap: 8px;
              p {
                color: #65665c;
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 150% */
              }
            }
            .tek {
              display: flex;
              align-items: center;
              gap: 8px;
              p {
                color: #65665c;
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 150% */
              }
            }
          }
        }
      }
    }
    .best-btns {
      display: flex;
      justify-content: center;
      margin-top: 80px;
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 21px;
      button {
        display: flex;
        align-items: center;
        background-color: transparent;
        color: #2a2c1f;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        border: 1px solid transparent;
        padding: 13px 25px;
        gap: 4px;
        &:hover {
          border-radius: 6px;
          border: 1px solid #e7e8e3;
          background: #fff;
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
          transition: 0.2s;
        }
      }
    }
  }
}

.location {
  background: #f5f5f2;
  // background-color: plum;
  .area-content {
    padding: 50px 0px 250px 0px;
    .area-title {
      display: grid;
      place-items: center;
      h1 {
        color: #2a2c1f;
        text-align: center;
        font-family: Roboto;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 57.6px; /* 120% */
        padding-bottom: 24px;
      }
      p {
        max-width: 713px;
        color: #65665c;
        text-align: center;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px; /* 150% */
      }
    }
    .cards {
      padding: 80px 0px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 30px;
      .card {
        width: clamp(175px, 33%, 400px);
        border-radius: 16px;
        border: 1px solid #e7e8e3;
        background: #fff;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
        &:hover {
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
            rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          transition: 0.5s;
        }
        .card-texts {
          padding: 24px;
          max-width: 100%;
          h2 {
            color: #2a2c1f;
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px; /* 140% */
          }
          p {
            color: #2a2c1f;
            text-align: center;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            display: flex;
            align-items: center;
          }
        }
      }
    }
    .best-btns {
      display: flex;
      justify-content: center;
      display: flex;
      align-items: center;
      gap: 20px;
      button {
        display: flex;
        align-items: center;
        background-color: transparent;
        color: #2a2c1f;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        border: 1px solid transparent;
        padding: 13px 25px;
        gap: 4px;
        &:hover {
          border-radius: 6px;
          border: 1px solid #e7e8e3;
          background: #fff;
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
          transition: 0.2s;
        }
      }
    }
  }
}

.family {
  // padding-top: 128px;
  .family-content {
    border-radius: 24px;
    background: #65665c;
    display: grid;
    place-items: center;
    position: relative;
    top: -200px;
    svg {
      margin-top: 96px;
      background-color: #fff;
      padding: 8px;
      border-radius: 8px;
    }
    h2 {
      padding-bottom: 28px;
      color: #fff;
      text-align: center;
      font-family: Roboto;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 57.6px; /* 120% */
    }
    p {
      max-width: 765px;
      color: #e7e8e3;
      text-align: center;
      font-family: Roboto;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px; /* 150% */
      padding-bottom: 20px;
    }
    button {
      margin-bottom: 96px;
      width: 9em;
      height: 3em;
      border-radius: 6px;
      color: #fff;
      font-size: 15px;
      font-family: inherit;
      border: none;
      position: relative;
      overflow: hidden;
      z-index: 1;
      background-color: #cf6f49;
      // box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
      &:hover {
        color: #c88266;
        transition: 0.5s ease;
      }
    }

    button::before {
      content: "";
      width: 0;
      height: 3em;
      border-radius: 6px;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(to right, #fff 0%, #cf6f49 100%);
      transition: 0.5s ease;
      display: block;
      z-index: -1;
      color: #cf6f49;
    }

    button:hover::before {
      width: 9em;
    }
  }
}

.say {
  .say-content {
    padding-bottom: 100px;
    .say-title {
      display: grid;
      place-items: center;
      gap: 26px;
      h1 {
        color: #2a2c1f;
        text-align: center;
        font-family: Roboto;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 57.6px; /* 120% */
      }
      p {
        color: #65665c;
        text-align: center;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px; /* 150% */
      }
    }
    .say-cards {
      padding-top: 80px;
      display: flex;
      justify-content: space-around;
      .card {
        width: clamp(340px, 32%, 70%);
        border-radius: 16px;
        border: 2px solid #e7e8e3;
        background: #fff;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
        &:hover {
          border-color: #cf6f49;
          transition: 0.4s;
        }
        .card-texts {
          padding: 33px 33px 30px 33px;
          .stars {
            .rating {
              display: inline-block;
            }

            .rating input {
              display: none;
            }

            .rating label {
              float: right;
              cursor: pointer;
              color: #ccc;
              transition: color 0.3s;
            }

            .rating label:before {
              content: "\2605";
              font-size: 30px;
            }

            .rating input:checked ~ label,
            .rating label:hover,
            .rating label:hover ~ label {
              color: #cf6f49;
              transition: color 0.3s;
            }
          }
          h6 {
            color: #2a2c1f;
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px; /* 150% */
            padding: 20px 0;
          }
          .user {
            display: flex;
            gap: 16px;
            align-items: center;
            img {
              object-fit: scale-down;
            }
            .user-name {
              p:first-child {
                color: #2a2c1f;
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px; /* 150% */
              }
              p:last-child {
                color: #65665c;
                font-family: Roboto;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 150% */
              }
            }
          }
        }
      }
    }
  }
}

.latest {
  background: #f5f5f2;
  .latest-content {
    padding: 120px 0;
    .latest-texts {
      padding-bottom: 70px;
      p {
        padding: 4px 12px;
        color: #2a2c1f;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px; /* 150% */
        border-radius: 32px;
        background: #e7e8e3;
        max-width: 53px;
      }
      h1 {
        color: #2a2c1f;
        font-family: Roboto;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 57.6px; /* 120% */
        padding: 21px 0px 29px 0;
      }
      .ves {
        display: flex;
        justify-content: space-between;
        h6 {
          max-width: 710px;
          color: #65665c;
          font-family: Roboto;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 27px; /* 150% */
        }
        a {
          color: #2a2c1f;
          text-align: center;
          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 150% */
          padding: 13px 25px;
          border-radius: 6px;
          border: 1px solid #e7e8e3;
          background: #fff;
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
          &:hover {
            background-color: #cf6f49;
            color: #fff;
            transition: 0.3s;
          }
        }
      }
    }
    .latest-cards {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      row-gap: 20px;
      .card {
        overflow: hidden;
        background-color: #fff;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
          rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        &:hover {
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
            rgba(0, 0, 0, 0.22) 0px 15px 12px;
          transition: 0.5s;
        }
        .card-texts {
          padding: 24px;
          .data {
            display: flex;
            align-items: center;
            gap: 16px;
            p {
              padding: 4px 8px;
              color: #2a2c1f;
              font-family: Roboto;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 21px; /* 150% */
              border-radius: 32px;
              background: #fae8e1;
            }
            h6 {
              color: #65665c;
              font-family: Roboto;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 21px; /* 150% */
            }
          }
          h1 {
            color: #2a2c1f;
            font-family: Roboto;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 33.6px; /* 140% */
            padding: 16px 0px 9px 0;
            max-width: 310px;
          }
          h5 {
            color: #65665c;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            max-width: 290px;
          }
          .read {
            display: flex;
            align-items: center;
            gap: 4px;
            padding-top: 30px;
            a {
              color: #2a2c1f;
              text-align: center;
              font-family: Roboto;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px; /* 150% */
              align-items: center;
            }
            &:hover {
              a {
                color: #cf6f49;
                transition: 0.4s;
              }
              svg path {
                fill: #cf6f49;
                transition: 0.4s;
              }
            }
          }
        }
      }
    }
  }
}

footer {
  .footer-content {
    padding: 64px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // column-gap: 140px;
    .foot-2,
    .foot-3,
    .foot-4 {
      display: inline-flex;
      // padding: 0.125px 101px 7.875px 0px;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      a {
        color: #2a2c1f;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        &:hover {
          color: #cf6f49;
          transition: 0.3s;
        }
      }
    }
    .foot-5 {
      h6 {
        color: #2a2c1f;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
      }
      p {
        max-width: 379px;
        color: #65665c;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        padding: 10px 0;
      }
      form {
        .foot-int {
          border-radius: 6px;
          border: 1px solid #e7e8e3;
          background: #fff;
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
          color: #65665c;
          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 150% */
          padding: 12px 14px;
          outline: none;
        }
        .foot-btn {
          padding: 13px 28px;
          border: 2px solid #cf6f49;
          color: #fff;
          font-family: Roboto;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 150% */
          border-radius: 6px;
          border: 2px solid #cf6f49;
          background: #cf6f49;
          &:hover {
            background-color: transparent;
            color: #cf6f49;
            transition: 0.3s;
          }
        }
      }
      h5 {
        color: #65665c;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 150% */
        padding-top: 16px;
      }
    }
  }
}
